{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}news.edit{% endtrans %}</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <input class="btn btn-success pull-left" type="submit" value="{% trans %}app.submit{% endtrans %}" />
    {{ form_end(edit_form) }}

    {% if app.user %}
        {% if app.user.isAuthor and app.user.email == news.authorEmail %}
            {{ form_start(delete_form) }}
                <input class="btn btn-danger pull-right" type="submit" value="{% trans %}news.delete{% endtrans %}">
            {{ form_end(delete_form) }}
        {% endif %}
    {% endif %}

    <a href="{{ path('news') }}" class="btn btn-primary pull-right">{% trans %}news.back{% endtrans %}</a>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/news.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}