{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}news.news{% endtrans %}</h1>

    {% if app.user %}
        {% if app.user.isAuthor %}
            <a href="{{ path('news_new') }}" class="btn btn-success">{% trans %}news.create{% endtrans %}</a>
        {% endif %}
    {% endif %}

    {% for newsItem in news %}
        <div id="news-{{ newsItem.id }}" class="news-item">
            <div class="news-head">
                {% if app.user %}
                    {% if app.user.isAuthor and app.user.email == newsItem.authorEmail %}
                        <a href="{{ path('news_edit', {id: newsItem.id}) }}" class="news-edit btn btn-xs btn-primary pull-right">{% trans %}news.edit{% endtrans %}</a>
                    {% endif %}
                {% endif %}
                <h2 class="news-title"><a href="{{ path('news_show', {id: newsItem.id}) }}">{{ newsItem.title }}</a></h2>
                <span class="news-meta">
                    <a href="{{ path('news_show', {id: newsItem.id}) }}">
                        <span class="news-date">{% trans %}news.date{% endtrans %}: <b>{{ newsItem.date|date('Y-m-d H:i:s') }}</b></span>
                        <span class="news-date">{% trans %}news.updated{% endtrans %}: <b>{{ newsItem.updated|date('Y-m-d H:i:s') }}</b></span>
                        <span class="news-author">{% trans %}news.author{% endtrans %}: <b>{{ newsItem.author }}</b></span>
                        <span class="news-author">{% trans %}news.comments{% endtrans %}: <b>{{ newsItem.comments | length }}</b></span>
                    </a>
                </span>
            </div>
            <div class="news-body">{{ newsItem.body | raw }}</div>
        </div>
    {% endfor %}

    <div id="news-navigation" class="navigation">
        {{ knp_pagination_render(news) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/news.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}