{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}news.create{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success pull-left" type="submit" value="{% trans %}app.submit{% endtrans %}" />
    {{ form_end(form) }}

    <a href="{{ path('news') }}" class="btn btn-primary pull-right">{% trans %}news.back{% endtrans %}</a>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/news.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}