{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div id="news-{{ news.id }}" class="news-item">
        <div class="news-head">
            <h2 class="news-title"><a href="{{ path('news_show', {id: news.id}) }}">{{ news.title }}</a></h2>
            <span class="news-meta">
                <span class="news-date">{% trans %}news.date{% endtrans %}: <b>{{ news.date|date('Y-m-d H:i:s') }}</b></span>
                <span class="news-date">{% trans %}news.updated{% endtrans %}: <b>{{ news.updated|date('Y-m-d H:i:s') }}</b></span>
                <span class="news-author">{% trans %}news.author{% endtrans %}: <b>{{ news.author }}</b></span>
            </span>
        </div>
        <div class="news-body">{{ news.body | raw }}</div>
    </div>

    <div id="comments">
        <h2>{% trans %}news.comments{% endtrans %}</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
            <input class="btn btn-success pull-left" type="submit" value="{% trans %}app.submit{% endtrans %}" />
        {{ form_end(form) }}

        <div class="clearfix"></div>

        {% if news.comments | length > 0 %}
            {% for comment in news.comments %}
                <div id="comment-{{ comment.id }}" class="news-item comment-item">
                    <div class="news-head">
                        <span class="news-meta">
                            <span class="news-date">{% trans %}news.date{% endtrans %}: <b>{{ comment.date|date('Y-m-d H:i:s') }}</b></span>
                            <span class="news-author">{% trans %}news.author{% endtrans %}: <b>{{ comment.author }}</b></span>
                        </span>
                    </div>
                    <div class="news-body">{{ comment.body | raw }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning" role="alert" style="margin-top: 10px">{% trans %}news.noComments{% endtrans %}</div>
        {% endif %}
    </div>

    <div id="news-controls">
        {% if app.user %}
            {% if app.user.isAuthor and app.user.email == news.authorEmail %}
                {{ form_start(delete_form) }}
                <input class="btn btn-danger pull-right" type="submit" value="{% trans %}news.delete{% endtrans %}">
                {{ form_end(delete_form) }}
                <a href="{{ path('news_edit', {id: news.id}) }}" class="news-edit btn btn-primary pull-right">{% trans %}news.edit{% endtrans %}</a>
            {% endif %}
        {% endif %}
        <a href="{{ path('news') }}" class="btn btn-primary pull-right">{% trans %}news.back{% endtrans %}</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/news.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}