{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}round.rounds{% endtrans %}</h1>

    {% if app.user %}
        {% if app.user.isAdmin %}
            <a href="{{ path('round_new') }}" class="btn btn-success">{% trans %}round.create{% endtrans %}</a>
        {% endif %}
    {% endif %}

    {% for round in rounds %}
        <div id="round-{{ round.id }}" class="round-item">
            <div class="news-head">
                {% if app.user %}
                    {% if app.user.isAdmin %}
                        <a href="{{ path('round_edit', {id: round.id}) }}" class="round-edit btn btn-xs btn-primary pull-right">{% trans %}round.edit{% endtrans %}</a>
                    {% endif %}
                {% endif %}
                <h2 class="round-title">{{ round.name }}</h2>
            </div>
            <div class="round-body">
                {% for game in round.games %}
                    <div class="round-game">
                        <div class="round-game-type">
                            {{ game.gameType }}
                        </div>
                        <div class="round-game-head">
                            <span class="round-game-left">{{ game.teamA ? game.teamA : '?' }}</span>
                            <span class="round-game-center">{% trans %}round.vs{% endtrans %}</span>
                            <span class="round-game-right">{{ game.teamB ? game.teamB : '?' }}</span>
                            <span class="round-game-left">{{ game.pointA ? game.pointA : 0 }}</span>
                            <span class="round-game-right">{{ game.pointB ? game.pointB : 0 }}</span>
                        </div>
                        <div class="round-game-body">
                            {{ game.description | raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/round.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}