{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="alert alert-warning" role="alert">{% trans %}app.pleaseLogIn{% endtrans %}</div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/index.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}