<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% trans %}app.title{% endtrans %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="268034726034-48kap9susfodveoug4qjtbibd0p7pqei.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Skyball 2016">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link href='//fonts.googleapis.com/css?family=Comfortaa:300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% stylesheets
        '@AppBundle/Resources/public/css/skysports.css'
        '@AppBundle/Resources/public/css/skyball.css'
        '@AppBundle/Resources/public/css/header.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
</head>

<body>
<nav id="main-menu" class="navbar navbar-default">
    <div class="container" id="navigation-bar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-bar-collapse" aria-expanded="false">
                <span class="sr-only">{% trans %}app.menu{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="{{ path('index') }}" title="{% trans %}app.title{% endtrans %}">
                <img id="header-logo" src="{{ asset('bundles/app/images/skyball_logo.png') }}">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-bar-collapse">
            <ul class="nav navbar-nav">
                <li class="menu" id="menu-news"><a href="{{ path('news') }}"><img alt="{% trans %}news.news{% endtrans %}" src="{{ asset('bundles/app/images/sky_icons_info.png') }}"> {% trans %}news.news{% endtrans %}</a></li>
                <li class="menu" id="menu-rounds"><a href="{{ path('round') }}"><img alt="{% trans %}round.rounds{% endtrans %}" src="{{ asset('bundles/app/images/sky_icons_ford.png') }}"> {% trans %}round.rounds{% endtrans %}</a></li>
                <li class="menu" id="menu-teams" ><a href="{{ path('team') }}"><img alt="{% trans %}team.teams{% endtrans %}" src="{{ asset('bundles/app/images/sky_icons_team.png') }}"> {% trans %}team.teams{% endtrans %}</a></li>
                <li class="menu" id="menu-players"><a href="#"><img alt="{% trans %}player.players{% endtrans %}" src="{{ asset('bundles/app/images/sky_icons_player.png') }}"> {% trans %}player.players{% endtrans %}</a></li>
            </ul>

            <div id="header-right-container">
                <div id="header-signin-button"></div>
                <div id="header-loggedin"><span id="header-loggedin-text">{% trans %}app.loggedIn{% endtrans %}:<br /><b>{% if app.user %}{{ app.user.username }}{% endif %}</b></span></div>
                <button id="header-logout" class="btn btn-lg btn-danger" onclick="logout()">{% trans %}app.logout{% endtrans %}</button>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="content" class="container container-fluid">
    {% block body %}{% endblock %}
</div>

<canvas id="skysportsBg"></canvas>

<script type="text/javascript">
    var imagePath = '{{ image_path }}';
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<script src="{{ asset('bundles/app/js/skysports.js') }}"></script>
<script src="{{ asset('bundles/app/js/skyball.js') }}"></script>
{% javascripts
'@AppBundle/Resources/public/js/skysports.js'
'@AppBundle/Resources/public/js/skyball.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    function renderButton() {
        gapi.signin2.render('header-signin-button', {
            'scope': 'https://www.googleapis.com/auth/plus.login',
            'width': 260,
            'height': 52,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': loginSuccess,
            'onfailure': loginFail
        });
    }
</script>
<script src="//apis.google.com/js/platform.js?onload=renderButton" async defer></script>

{% block javascripts %}{% endblock %}
</body>
</html>