#header-logo {
    max-height: 60px;
    margin-top: -10px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 1.2em;
}

.nav>li>a>img {
    max-height: 40px;
}

li.menu:hover {
    background: #333;
}

li.menu:hover a, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

#header-right-container {
    float: right;
    height: 100%;
    margin-top: 8px;
}

#header-loggedin:before {
    content: '';
    height: 100%;
}

#header-loggedin:before, #header-loggedin-text {
    display: inline-block;
    vertical-align: middle;
}

#header-loggedin, #header-signin-button, #header-logout {
    float: left;
    display: none;
}

#header-loggedin {
    font-size: 1.2em;
    height: 52px;
    text-align: right;
    vertical-align: middle;
}

#header-logout {
    padding: 13px 16px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    margin-left: 10px;
}

#navigation-bar, #navigation-bar-collapse {
    padding: 0;
}

