img {
    max-width: 100%;
    height: auto !important;
}

.news-item {
    display: block;
    background: #fff;
    border: 2px solid #333;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    clear: both;
}
.news-item.comment-item {
    margin: 10px 0;
}

.news-item .news-head {
    width: 100%;
    position: relative;
}

.news-item h2 {
    margin: 0;
}

.news-item a:not(.btn):hover, .news-item a:not(.btn):hover span {
    color: #333;
}

.news-item h2 a, a:hover, a:active {
    text-decoration: none;
}

.news-item .news-date {
    color: #5aa1ec;
    margin-right: 5px;
}

.news-item .news-author {
    color: #5aa1ec;
    float: right;
    margin-left: 5px;
}

.news-item .news-body {
    padding-top: 10px;
    border-top: 1px dotted #333;
    clear: both;
}

#news-navigation {
    margin: 0 20px;
}

#news-navigation .pagination {
    margin: 0;
}

#news-controls {
    float: right;
    width: 100%;
    margin: 20px;
}

#news-controls .news-edit {
    margin-left: 10px;
}

#content .btn-danger {
    margin-left: 10px;
}

#comments {
    margin: 0 20px;
}