.round-game {
    display: block;
    background: #fff;
    border: 2px solid #333;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    clear: both;
}

.round-game .round-game-type {
    width: 100%;
    text-align: center;
    margin: 0 auto 10px;
    font-size: 1.2em;
    border-bottom: 1px dotted #333;
}

.round-game .round-game-head {
    width: 100%;
    position: relative;
}

.round-game .round-game-left, .round-game .round-game-right {
    width: 40%;
    font-weight: bold;
}

.round-game .round-game-left {
    float: left;
    text-align: right;
}

.round-game .round-game-center {
    text-align: center;
    width: 20%;
    display: inline-block;
}

.round-game .round-game-right {
    float: right;
    text-align: left;
}

.round-game .round-game-body {
    padding-top: 10px;
    border-top: 1px dotted #333;
    clear: both;
}

#round-navigation {
    margin: 0 20px;
}

#round-navigation .pagination {
    margin: 0;
}
