body {
    font-family: 'Comfortaa', cursive;
}

.dataTables_filter {
    float: right;
}

.btn {
    border-radius: 0;
}

.cke_contents {
    height: 400px;
}

#content {
    padding-bottom: 20px;
}
