#content {
    margin: 10px auto;
}

.container {
    background-color: rgba(250, 250, 250, 0.7);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

div#main, .fusion-header-wrapper, #footer, .fusion-column {
   background-color: rgba(250, 250, 250, 0.7);
}

div.fusion-header-wrapper {
    position: relative;
   margin-bottom: 20px;
}

.fusion-footer-widget-area {
    border-top: none;
    margin-top: 20px;
}

.fusion-column {
    padding: 20px 15px;
}