/*
Theme Name: Avada for Skysports
Description: Child theme of Avada for Skysports
Author: Viktor Nagy
Author URI: https://sky-sports.hu
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/

.fusion-header a, h1 a, h2 a, h3 a, h4 a, h5 a h6 a {
    text-decoration: none;
}
a {
    text-decoration: underline;
}

canvas#skysportsBg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

#content {
    margin: 10px auto;
}

.container {
    background-color: rgba(250, 250, 250, 0.7);
    width: 800px;
}

div#main, .fusion-header-wrapper, #footer, .fusion-column {
   background-color: rgba(250, 250, 250, 0.7);
}

div.fusion-header-wrapper {
    position: relative;
   margin-bottom: 20px;
}

.fusion-footer-widget-area {
    border-top: none;
    margin-top: 20px;
}

.fusion-column {
    padding: 20px 15px;
}