{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{% trans %}team.teams{% endtrans %}</h1>

            <p id="no-teams">{% trans %}team.noTeams{% endtrans %}</p>

            <table id="team-table" class="table-hover row-border">
                <thead>
                <tr>
                    <th>{% trans %}team.team{% endtrans %}</th>
                    <th>{% trans %}team.leader{% endtrans %}</th>
                    <th>{% trans %}team.player1{% endtrans %}</th>
                    <th>{% trans %}team.player2{% endtrans %}</th>
                    <th>{% trans %}team.point{% endtrans %}</th>
                </tr>
                </thead>
                <tbody class="list" id="team-body">
                {% for team in teams %}
                    <tr>
                        <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.name }}</a></td>
                        <td>{{ team.players[0].name }}</td>
                        <td>{{ team.players[1].name }}</td>
                        <td>{{ team.players[2].name }}</td>
                        <td>{{ team.point }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/team.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/teams.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}